In [1]:
surname = "Кандрахин" #Ваша фамилия

alp = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя'
w = [1, 42, 21, 21, 34,  6, 44, 26, 18, 44, 38, 26, 14, 43,  4, 49, 45,
        7, 42, 29,  4,  9, 36, 34, 31, 29,  5, 30,  4, 19, 28, 25, 33]

d = dict(zip(alp, w))
variant =  sum([d[el] for el in surname.lower()]) % 40 + 1

print("Задача № 1: ", variant % 3 + 1)
print("Задача № 2: ", variant % 2 + 1 )

Задача № 1:  3
Задача № 2:  1

In [2]:
genres = ["Thriller", "Sci-Fi", "Adventure"]

ubuntu@linux:~/BigData/hadoop/bin$ ./hdfs dfs -copyFromLocal /home/ubuntu/Desktop/ml-latest-small/movies.csv /HW4_movies

ubuntu@linux:~/BigData/hadoop/bin$ ./hdfs dfs -copyFromLocal /home/ubuntu/Desktop/ml-latest-small/ratings.csv /HW4_ratings

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode, split, col, count, desc,  collect_list, slice

In [4]:
spark = SparkSession.builder.appName("MovieAnalyzerTemp").getOrCreate()

# Задание 1. Анализ датасета

## Выведите данные, сопоставляющие жанры и количество фильмов

In [5]:
movies_df = spark.read.csv("/HW4_movies", header=True)
ratings_df = spark.read.csv("/HW4_ratings", header=True)

In [6]:
# Парсим жанры и разносим построчно, создавая новые экземпляры
movies_df = movies_df.withColumn("genre", explode(split(col("genres"), "\|")))

In [7]:
# Группируем по жанру и считаем
genre_counts = movies_df.groupBy("genre").count()
genre_counts.show()

+------------------+-----+
|             genre|count|
+------------------+-----+
|             Crime| 1199|
|           Romance| 1596|
|          Thriller| 1894|
|         Adventure| 1263|
|             Drama| 4361|
|               War|  382|
|       Documentary|  440|
|           Fantasy|  779|
|           Mystery|  573|
|           Musical|  334|
|         Animation|  611|
|         Film-Noir|   87|
|(no genres listed)|   34|
|              IMAX|  158|
|            Horror|  978|
|           Western|  167|
|            Comedy| 3756|
|          Children|  664|
|            Action| 1828|
|            Sci-Fi|  980|
+------------------+-----+

## Выведите первые 10 фильмов с наибольшим количеством рейтингов для каждого жанра в соответствии с вариантом

In [8]:
top_rated_movies = (movies_df
                    .join(ratings_df, movies_df.movieId == ratings_df.movieId)
                    .groupBy("genre", "title")
                    .count()
                    .filter(col("genre").isin(genres))
                    .withColumnRenamed("count", "rating_count")
                    .orderBy("genre", desc("rating_count"))
                    .groupBy("genre")
                    .agg(collect_list("title").alias("top_movies"))
                    .select("genre", slice(col("top_movies"), 1, 10).alias("top_10_movies")))

In [9]:
for row in top_rated_movies.rdd.collect():
    genre = row['genre']
    top_10_movies = row['top_10_movies']
    
    print(f"\nЖанр: {genre}\n")
    for movie in top_10_movies:
        print(f"{movie}")

Жанр: Thriller

Pulp Fiction (1994)
Silence of the Lambs, The (1991)
Matrix, The (1999)
Jurassic Park (1993)
Fight Club (1999)
Usual Suspects, The (1995)
Seven (a.k.a. Se7en) (1995)
Independence Day (a.k.a. ID4) (1996)
Fugitive, The (1993)
Batman (1989)

Жанр: Adventure

Star Wars: Episode IV - A New Hope (1977)
Jurassic Park (1993)
Toy Story (1995)
Star Wars: Episode V - The Empire Strikes Back (1980)
Independence Day (a.k.a. ID4) (1996)
Apollo 13 (1995)
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)
Lord of the Rings: The Fellowship of the Ring, The (2001)
Star Wars: Episode VI - Return of the Jedi (1983)
Lord of the Rings: The Two Towers, The (2002)

Жанр: Sci-Fi

Matrix, The (1999)
Star Wars: Episode IV - A New Hope (1977)
Jurassic Park (1993)
Terminator 2: Judgment Day (1991)
Star Wars: Episode V - The Empire Strikes Back (1980)
Independence Day (a.k.a. ID4) (1996)
Star Wars: Episode VI - Return of the Jedi (1983)
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
Back to the Future (1985)
Men in Black (a.k.a. MIB) (1997)

## Выведите первые 10 фильмов с наименьшим количеством рейтингов (но больше 10) для каждого жанра в соответствии с вариантом

In [10]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, row_number, avg

In [11]:
# посчитаем количество рейтинга для каждого фильма в каждом жанре
movie_ratings_count = (movies_df
                       .join(ratings_df, movies_df.movieId == ratings_df.movieId)
                       .filter(col("genre").isin(genres))
                       .groupBy("genre", "title")
                       .count()
                       .filter(col("count") > 10)
                       .withColumnRenamed("count", "rating_count"))

In [12]:
#movie_ratings_count.show()

In [13]:
# Отсортируем по количеству рейтингов
windowSpec = Window.partitionBy("genre").orderBy(col("rating_count").asc())
movies_least_ratings = (movie_ratings_count
                        .withColumn("row_number", row_number().over(windowSpec))
                        .filter(col("row_number") <= 10)
                        .select("genre", "title", "rating_count"))

In [14]:
movies_least_ratings.show(movies_least_ratings.count(), truncate=True)

+---------+--------------------+------------+
|    genre|               title|rating_count|
+---------+--------------------+------------+
| Thriller| Body of Lies (2008)|          11|
| Thriller|Children of the C...|          11|
| Thriller|      Thinner (1996)|          11|
| Thriller|Young Sherlock Ho...|          11|
| Thriller|Witches of Eastwi...|          11|
| Thriller| Ringu (Ring) (1998)|          11|
| Thriller|Stepford Wives, T...|          11|
| Thriller|Red Rock West (1992)|          11|
| Thriller|Green Hornet, The...|          11|
| Thriller|      Frailty (2001)|          11|
|Adventure|Oliver & Company ...|          11|
|Adventure|Polar Express, Th...|          11|
|Adventure|All Dogs Go to He...|          11|
|Adventure|Chitty Chitty Ban...|          11|
|Adventure|Bulletproof Monk ...|          11|
|Adventure|    Edge, The (1997)|          11|
|Adventure|Meet the Robinson...|          11|
|Adventure|        Hanna (2011)|          11|
|Adventure|      Hidalgo (2004)|          11|
|Adventure|   Happy Feet (2006)|          11|
|   Sci-Fi| Frankenstein (1931)|          11|
|   Sci-Fi|Stepford Wives, T...|          11|
|   Sci-Fi|The Amazing Spide...|          11|
|   Sci-Fi|Transformers: Dar...|          11|
|   Sci-Fi|Astronaut's Wife,...|          11|
|   Sci-Fi|Bulletproof Monk ...|          11|
|   Sci-Fi|  John Carter (2012)|          11|
|   Sci-Fi|Solaris (Solyaris...|          11|
|   Sci-Fi|Meet the Robinson...|          11|
|   Sci-Fi|Black Panther (2017)|          11|
+---------+--------------------+------------+

## Выведите первые 10 фильмов с наибольшим средним рейтингом при количестве рейтингов больше 10 для каждого жанра в соответствии с вариантом

In [15]:
movies_avg_rating = (movies_df
                     .join(ratings_df, movies_df.movieId == ratings_df.movieId)
                     .filter(col("genre").isin(genres))
                     .groupBy("genre", "title")
                     .agg(avg("rating").alias("average_rating"), count("rating").alias("rating_count"))
                     .filter(col("rating_count") > 10))

In [16]:
windowSpec = Window.partitionBy("genre").orderBy(col("average_rating").desc())

In [17]:
# Применяем оконную функцию row_number и выбираем первые 10 фильмов для каждого жанра
top_movies_by_avg_rating = (movies_avg_rating
                            .withColumn("row_number", row_number().over(windowSpec))
                            .filter(col("row_number") <= 10)
                            .select("genre", "title", "average_rating"))

In [18]:
top_movies_by_avg_rating.show(movies_least_ratings.count(), truncate=False)

+---------+------------------------------------------------------------------------------+------------------+
|genre    |title                                                                         |average_rating    |
+---------+------------------------------------------------------------------------------+------------------+
|Thriller |Fight Club (1999)                                                             |4.272935779816514 |
|Thriller |Touch of Evil (1958)                                                          |4.264705882352941 |
|Thriller |Rear Window (1954)                                                            |4.261904761904762 |
|Thriller |Departed, The (2006)                                                          |4.252336448598131 |
|Thriller |Outlaw Josey Wales, The (1976)                                                |4.25              |
|Thriller |Notorious (1946)                                                              |4.25              |
|Thriller |Manchurian Candidate, The (1962)                                              |4.25              |
|Thriller |Usual Suspects, The (1995)                                                    |4.237745098039215 |
|Thriller |Third Man, The (1949)                                                         |4.229166666666667 |
|Thriller |Miller's Crossing (1990)                                                      |4.225             |
|Adventure|Lawrence of Arabia (1962)                                                     |4.3               |
|Adventure|Outlaw Josey Wales, The (1976)                                                |4.25              |
|Adventure|Princess Bride, The (1987)                                                    |4.232394366197183 |
|Adventure|Star Wars: Episode IV - A New Hope (1977)                                     |4.231075697211155 |
|Adventure|Yojimbo (1961)                                                                |4.230769230769231 |
|Adventure|Star Wars: Episode V - The Empire Strikes Back (1980)                         |4.2156398104265405|
|Adventure|Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)|4.2075            |
|Adventure|Seven Samurai (Shichinin no samurai) (1954)                                   |4.1875            |
|Adventure|North by Northwest (1959)                                                     |4.184210526315789 |
|Adventure|Monty Python and the Holy Grail (1975)                                        |4.161764705882353 |
|Sci-Fi   |Logan (2017)                                                                  |4.28              |
|Sci-Fi   |Star Wars: Episode IV - A New Hope (1977)                                     |4.231075697211155 |
|Sci-Fi   |Star Wars: Episode V - The Empire Strikes Back (1980)                         |4.2156398104265405|
|Sci-Fi   |Matrix, The (1999)                                                            |4.192446043165468 |
|Sci-Fi   |Brazil (1985)                                                                 |4.177966101694915 |
|Sci-Fi   |Eternal Sunshine of the Spotless Mind (2004)                                  |4.1603053435114505|
|Sci-Fi   |Ghost in the Shell (Kôkaku kidôtai) (1995)                                    |4.148148148148148 |
|Sci-Fi   |Star Wars: Episode VI - Return of the Jedi (1983)                             |4.137755102040816 |
|Sci-Fi   |Blade Runner (1982)                                                           |4.100806451612903 |
|Sci-Fi   |Solaris (Solyaris) (1972)                                                     |4.090909090909091 |
+---------+------------------------------------------------------------------------------+------------------+

## Выведите первые 10 фильмов с наименьшим средним рейтингом при количестве рейтингов больше 10 для каждого жанра в соответствии с вариантом

In [19]:
windowSpec = Window.partitionBy("genre").orderBy(col("average_rating").asc())

In [20]:
low_movies_by_avg_rating = (movies_avg_rating
                               .withColumn("row_number", row_number().over(windowSpec))
                               .filter(col("row_number") <= 10)
                               .select("genre", "title", "average_rating"))

In [21]:
low_movies_by_avg_rating.show(movies_least_ratings.count(), truncate=False)

+---------+---------------------------------------------------------------------------+------------------+
|genre    |title                                                                      |average_rating    |
+---------+---------------------------------------------------------------------------+------------------+
|Thriller |Speed 2: Cruise Control (1997)                                             |1.605263157894737 |
|Thriller |Rambo III (1988)                                                           |1.9166666666666667|
|Thriller |Ultraviolet (2006)                                                         |1.9230769230769231|
|Thriller |Anaconda (1997)                                                            |1.9259259259259258|
|Thriller |Godzilla (1998)                                                            |1.9545454545454546|
|Thriller |I Still Know What You Did Last Summer (1998)                               |2.0555555555555554|
|Thriller |Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The) (2006)|2.090909090909091 |
|Thriller |Volcano (1997)                                                             |2.1               |
|Thriller |I Know What You Did Last Summer (1997)                                     |2.109375          |
|Thriller |Haunting, The (1999)                                                       |2.1153846153846154|
|Adventure|Superman IV: The Quest for Peace (1987)                                    |1.6875            |
|Adventure|Karate Kid, Part III, The (1989)                                           |1.75              |
|Adventure|Dungeons & Dragons (2000)                                                  |1.8333333333333333|
|Adventure|Rambo III (1988)                                                           |1.9166666666666667|
|Adventure|Anaconda (1997)                                                            |1.9259259259259258|
|Adventure|Super Mario Bros. (1993)                                                   |2.0               |
|Adventure|Teenage Mutant Ninja Turtles III (1993)                                    |2.0714285714285716|
|Adventure|Dukes of Hazzard, The (2005)                                               |2.0833333333333335|
|Adventure|Inspector Gadget (1999)                                                    |2.0952380952380953|
|Adventure|Howard the Duck (1986)                                                     |2.15625           |
|Sci-Fi   |Battlefield Earth (2000)                                                   |1.6578947368421053|
|Sci-Fi   |Superman IV: The Quest for Peace (1987)                                    |1.6875            |
|Sci-Fi   |Ultraviolet (2006)                                                         |1.9230769230769231|
|Sci-Fi   |Godzilla (1998)                                                            |1.9545454545454546|
|Sci-Fi   |Super Mario Bros. (1993)                                                   |2.0               |
|Sci-Fi   |Honey, I Blew Up the Kid (1992)                                            |2.05              |
|Sci-Fi   |Howard the Duck (1986)                                                     |2.15625           |
|Sci-Fi   |Universal Soldier (1992)                                                   |2.2058823529411766|
|Sci-Fi   |Wild Wild West (1999)                                                      |2.207547169811321 |
|Sci-Fi   |Superman III (1983)                                                        |2.25              |
+---------+---------------------------------------------------------------------------+------------------+

# Задание 2. Коллаборативная фильтрация
### Вариант 1. По схожести пользователей

In [22]:
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql.functions import col, avg, lit, udf, corr
from pyspark.sql import functions as F

In [23]:
ratings_df = ratings_df.withColumn("userId", ratings_df["userId"].cast("integer"))
ratings_df = ratings_df.withColumn("movieId", ratings_df["movieId"].cast("integer"))
ratings_df = ratings_df.withColumn("rating", ratings_df["rating"].cast("float"))

In [24]:
(train_init, test) = ratings_df.randomSplit([0.8, 0.2], seed=3)

In [25]:
average_rating = train_init.select(avg("rating")).first()[0]

In [26]:
test = test.withColumn("avg_rating", F.lit(average_rating))
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="avg_rating")
rmse = evaluator.evaluate(test)
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 1.0501373838186079

таблица схожести пользователей, pirson correlation

In [27]:
user_similarity = train_init.alias("r1").join(train_init.alias("r2"), ["movieId"]) \
    .filter(col("r1.userId") != col("r2.userId")) \
    .groupBy(col("r1.userId").alias("user1Id"), col("r2.userId").alias("user2Id")) \
    .agg(corr("r1.rating", "r2.rating").alias("similarity")) \
    .na.fill(0)

In [28]:
predicted_ratings = test.alias("t") \
    .join(user_similarity.alias("u"), col("t.userId") == col("u.user1Id")) \
    .join(train_init.alias("r"), (col("u.user2Id") == col("r.userId")) & (col("r.movieId") == col("t.movieId"))) \
    .withColumn("weighted_rating", col("r.rating") * col("u.similarity")) \
    .groupBy("t.userId", "t.movieId") \
    .agg(F.sum("weighted_rating").alias("sum_weighted_rating"), F.sum("u.similarity").alias("sum_similarity")) \
    .withColumn("predicted_rating", col("sum_weighted_rating") / col("sum_similarity"))

In [29]:
predicted_ratings = predicted_ratings.na.drop(subset=["predicted_rating"])

In [30]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="predicted_rating")
rmse = evaluator.evaluate(predicted_ratings.join(test, ["userId", "movieId"]))
print("rmse = " + str(rmse))

rmse = 129.75472341732237

# Задание 3. Факторизация матрицы

In [31]:
from pyspark.ml.recommendation import ALS
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [32]:
als = ALS(userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop", nonnegative=True)

In [33]:
paramGrid = ParamGridBuilder() \
    .addGrid(als.rank, [5, 10, 15]) \
    .addGrid(als.regParam, [0.001, 0.01, 0.1, 1, 10]) \
    .build()

In [34]:
evaluator = RegressionEvaluator(metricName="rmse", labelCol="rating", predictionCol="prediction")

In [35]:
crossval = CrossValidator(estimator=als,
                          estimatorParamMaps=paramGrid,
                          evaluator=evaluator,
                          numFolds=4)

In [36]:
cvModel = crossval.fit(train_init)

In [37]:
predictions = cvModel.transform(test)

In [38]:
rmse = evaluator.evaluate(predictions)

In [39]:
print("rmse = " + str(rmse))

rmse = 0.8842045182530374

ALS оказался гораздо эффективнее чем использование корреляции Пирсона и регрессии

In [40]:
best_model = cvModel.bestModel
best_rank = best_model.rank
best_reg_param = best_model._java_obj.parent().getRegParam()

print("Лучший rank:", best_rank)
print("Лучший regParam:", best_reg_param)

Лучший rank: 5
Лучший regParam: 0.1

In [41]:
# best_rank = 10
# best_reg_param = 0.1
# final_als = ALS(userCol="userId", itemCol="movieId", ratingCol="rating", coldStartStrategy="drop", nonnegative=True,
#                 rank=best_rank, regParam=best_reg_param)
# final_model = final_als.fit(train_init)
# final_predictions = final_model.transform(test)
# final_rmse = evaluator.evaluate(final_predictions)